.title{
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    color:rgb(158, 187, 140);
    padding: 20px;
}

p {
    font-family: 'Verdana', 'Garamond', sans-serif;
    font-size: 14px;
}

.intro{
    float: left;
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
}
.intro img{
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.blog{
    float: left;
    width: 70%;
    padding: 20px; 
    border-left-style: solid;
    border-color:rgb(196, 218, 182);
    
}
.subheading{
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-size: 30px;
    color:rgb(158, 187, 140);
}
.description{
    width: 100%;
    padding-top: 10px;
}

.recipe{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    color:rgb(158, 187, 140);
}
.recipe img{
    width: 100%;
    height: auto;
    border-radius: 10%;
}
